@using Newtonsoft.Json
@* <link rel="stylesheet" href="~/css/Chat/chat.css" /> *@

@{
    @model dynamic
    var newUser = JsonConvert.DeserializeObject<dynamic>(Context.Session.GetString("UserData"));

    string Current = ViewBag.Current;
    string username = newUser.full_name;
}

<div class="chat-container">

    <!-- General Section -->
    <section id="general-section" class="chat-section general-chat">
        <h2 onclick="GetAllUsers('MainChat')">General Chat</h2>
        @if (Current != "rooms-section" && Current != "private-messages")
        {
            <div onclick="GetUserChat('' , 'general')" class="chat-messages" id="general-messages">
                <h3>General Room</h3>
                <div class="chat-messages" id="general"></div>
            </div>

            <div>
                <input id="general-chatbox" type="text" name="chat" value="" />
                <button onclick="SendChat(document.getElementById('general-chatbox').value, 'general-chatbox' , 'general' , ''); document.getElementById('general-chatbox').value=''">Send</button>
            </div>
            
        }
    </section>



    <!-- Room Sections -->
    <section id="rooms-section" class="chat-section rooms-chat">
        <h2 onclick="GetAllUsers('rooms-section')" id="rooms-section">Room Chats</h2>
        @if (Current == "rooms-section")
        {
            <div onclick="GetUserChat('manager' , 'room')" class="room-chat" id="manager-messages">
                <h3>Manager Room</h3>
                <div class="chat-messages" id="manager"></div>
            </div>

            <div>
                <input id="manager-chatbox" type="text" name="chat" value="" />
                <button onclick="SendChat(document.getElementById('manager-chatbox').value, 'manager-chatbox' , 'room' , 'manager'); document.getElementById('manager-chatbox').value=''">Send</button>
            </div>
            
            <div onclick="GetUserChat('employee' , 'room')" class="room-chat" id="employee-messages">
                <h3>Employee Room</h3>
                <div class="chat-messages" id="employee"></div>
            </div>

            <div>
                <input id="employee-chatbox" type="text" name="chat" value="" />
                <button onclick="SendChat(document.getElementById('employee-chatbox').value, 'employee-chatbox' , 'room' , 'employee'); document.getElementById('employee-chatbox').value='')">Send</button>
            </div>


            <div onclick="GetUserChat('auditor' , 'room')" class="room-chat" id="auditor-messages">
                <h3>Auditor Room</h3>
                <div class="chat-messages" id="auditor"></div>
            </div>

            <div>
                <input id="auditor-chatbox" onclick="SendChat(this.value , 'auditor')" type="text" name="chat" value="" />
                <button onclick="SendChat(document.getElementById('auditor-chatbox').value, 'auditor-chatbox' , 'room' ,'auditor'); document.getElementById('auditor-chatbox').value=''">Send</button>
            </div>

        }

    </section>

    <!-- Private Section -->
    <section id="private-section" class="chat-section private-chat">
        <h2 onclick="GetAllUsers('private-messages')">Private Chats</h2>
        <div class="private-messages" id="private-messages"></div>

        @if (Current == "private-messages")
        {
            foreach (var user in Model)
            {
                <div onclick="GetUserChat('@user' , 'private')" class="@user" @(user == username ? "hidden" : "")>
                    <p>@user</p>
                    <div id="@user"></div>
                </div>

                <div @(user == username ? "hidden" : "")>
                    <input id="@user-chatbox" type="text" name="chat" value="" />
                    <button onclick="SendChat(document.getElementById('@user-chatbox').value, '@user-chatbox' , 'private' , ''); document.getElementById('@user-chatbox').value=''">Send</button>
                </div>
            }
        }
    </section>
</div>

<script src="~/js/Chat/ChatRoom.js"></script>
