@{
    string email = ViewBag.email;
}

<div>
    <button onclick="showSection('withdraw')">Withdraw</button>
    <button onclick="showSection('deposit')">Add Balance</button>
    <button onclick="showSection('transfer')">Transfer</button>
</div>

<br />

<!-- Withdraw -->
<div class="withdraw">
    <h3>Withdraw</h3>

    <form>
        <label>Amount</label>
        <input class="amount" type="number" required />

        <label>Description</label>
        <input class="desc" type="text" />

        <input type="hidden" name="Type" value="withdraw" />
        <input type="hidden" name="Email" value="@email" />

        <button type="submit">Withdraw</button>
    </form>
</div>

<!-- Deposit -->
<div class="deposit" style="display:none;">
    <h3>Deposit</h3>

    <form>
        <label>Amount</label>
        <input class="amount" type="number" required />

        <label>Currency</label>
        <select class="currency">
            @foreach (var c in SecureBank_Pro.Models.StaticFiles.CurrencySymbols.Symbols.Keys)
            {
                <option value="@c">@c</option>
            }
        </select>

        <div class="conversionAmountWrapper" style="display:none;">
            <label>Amount in INR</label>
            <input class="conversionAmount" type="number" readonly />
        </div>

        <label>Description</label>
        <input class="desc" type="text" />

        <input type="hidden" name="Type" value="deposit" />
        <input type="hidden" name="Email" value="@email" />

        <button type="submit">Add</button>
    </form>
</div>

<!-- Transfer -->
<div class="transfer" style="display:none;">
    <h3>Transfer</h3>

    <form>
        <label>Recipient Email</label>
        <input class="recipient" type="text" required />

        <label>Amount</label>
        <input class="amount" type="number" required />

        <label>Description</label>
        <input class="desc" type="text" />

        <input type="hidden" name="Type" value="transfer" />
        <input type="hidden" name="Email" value="@email" />

        <button type="submit">Transfer</button>
    </form>
</div>

<script src="~/js/Account/MainForm.js"></script>
