@{
    ViewData["Title"] = "Dynamic Form Example";
    string email = ViewBag.email;
}


<h2>Bank Transactions</h2>

<!-- Menu Buttons -->
<div>
    <button type="button" onclick="showSection('withdraw')">Withdraw</button>
    <button type="button" onclick="showSection('deposit')">Add Balance</button>
    <button type="button" onclick="showSection('transfer')">User to User Transfer</button>
</div>

<br />

<!-- Withdraw Section -->
<div class="withdraw" style="display:block;">
    <h3>Withdraw Money</h3>
    <form method="post">

        <label>Amount:</label>
        <input id="WithdrawAmount" type="number" name="Amount" required />

        <label>Description:</label>
        <input type="text" name="Description" value="" required />
        <input type="hidden" name="Type" value="withdraw" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Withdraw</button>
    </form>
</div>

<!-- Deposit Section -->
<div class="deposit" style="display:none;">
    <h3>Add Balance</h3>
    <form method="post">
        <label>Amount:</label>
        <input id="DepositAmount" type="number" name="Amount" required />
        <div>
            <select id="currency">
                @foreach (var code in SecureBank_Pro.Models.StaticFiles.CurrencySymbols.Symbols.Keys)
                {
                    <option value="@code">@code (@SecureBank_Pro.Models.StaticFiles.CurrencySymbols.Symbols[code])</option>
                }
            </select>
            <input type="number" name="conversionAmount" style="display:none" value="" readonly />
        </div>
        <label>Description:</label>
        <input type="text" name="Description" value="" />
        <input type="hidden" name="Type" value="deposit" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Add Balance</button>
    </form>
</div>

<!-- Transfer Section -->
<div class="transfer" style="display:none;">
    <h3>User to User Transfer</h3>
    <form method="post">
        <label>Recipient User ID:</label>
        <input type="text" name="RecipientId" required />
        <br /><br />
        <label>Amount:</label>
        <input id="TransferAmount" type="number" name="Amount" required />
        <label>Description:</label>
        <input type="text" name="Description" value="" />
        <input type="hidden" name="Type" value="transfer" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Transfer</button>
    </form>
</div>


<script src="~/js/Account/MainForm.js"></script>



