@{
    foreach (var user in Model)
    {
        <div>
            <p>Name: @user.full_name</p>
            <p>Email: @user.email</p>
            <p>Address: @user.address</p>
            <p>DOB: @user.date_of_birth</p>
            <p>KYC: @user.kyc_status</p>

            <button onclick="EdituserForm('@user.email')">Edit</button>
            <button onclick="ViewUser('@user.email')">View</button>
            <button onclick="DeletedUser()">Deleted</button>

        </div>
    }
}

<script>
    function EdituserForm(email) {
    window.location.href = "/Dashboard/EditUsers?email=" + encodeURIComponent(email);
    }


    function DeletedUser(){

    }

    function ViewUser(email){
        window.location.href = "/Dashboard/CustomerProfile?email=" + encodeURIComponent(email);
    }
</script>
