@model SecureBank_Pro.Models.UserProfile

@{
    ViewData["Title"] = "Customer Profile";
    ViewBag.Title = "Transactions";
    int PageSize = 3;
    int PageNumber = 1;

    int TotalPages = Context.Session.GetInt32("TotalPages") ?? 0;
}

<h1>Customer Profile</h1>

<section>
    <h2>User Information</h2>
    <table>
        <tr><th>Full Name</th><td>@Model.Users.full_name</td></tr>
        <tr><th>Email</th><td>@Model.Users.email</td></tr>
        <tr><th>Phone</th><td>@Model.Users.phone_number</td></tr>
        <tr><th>Address</th><td>@Model.Users.address</td></tr>
        <tr><th>Date of Birth</th><td>@Model.Users.date_of_birth?.ToString("dd-MM-yyyy")</td></tr>
        <tr><th>KYC Status</th><td>@Model.Users.kyc_status</td></tr>
        <tr><th>Created At</th><td>@Model.Users.created_at?.ToString("dd-MM-yyyy HH:mm")</td></tr>
        <tr><th>Active</th><td>@(Model.Users.is_active ? "Yes" : "No")</td></tr>
    </table>
</section>

<hr />

<section>
    <h2>Balance</h2>

    @if (Model.Balance != null)
    {
        <table>
            <tr><th>Amount</th><td>@Model.Balance.Amount</td></tr>
            <tr><th>Currency</th><td>@Model.Balance.CurrencyCode</td></tr>
            <tr><th>Last Updated</th><td>@Model.Balance.LastUpdated.ToString("dd-MM-yyyy HH:mm")</td></tr>
            <tr><th>Frozen</th><td>@(Model.Balance.IsFrozen ? "Yes" : "No")</td></tr>
        </table>
        <input type="hidden" id="profile-id" value="@Model.Balance.UserId"/>
    }
    else
    {
        <p>No balance information available.</p>
    }
</section>

<hr />

<h2>Transactions</h2>

<div style="display:flex;gap:25px;flex-wrap:wrap">

    <div>
        Page Size:
        <select id="pageSize">
            <option value="3" selected>3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </div>

    <div>
        Category:
        <select id="Catogory">
            <option value="All" selected>All</option>
            <option value="Bank_Transfer">Bank Transfer</option>
            <option value="EMI">EMI</option>
        </select>
    </div>

    <div>
        From:
        <input type="date" id="fromDate" />
    </div>

    <div>
        To:
        <input type="date" id="toDate" />
    </div>

</div>

<hr />

<h4>Search Filters</h4>

<div style="display:flex;gap:15px;flex-wrap:wrap">

    <input id="f_tid" placeholder="Transaction Id" />
    <input id="f_type" placeholder="Type" />
    <input id="f_desc" placeholder="Description" />

    <button id="btnSearch" type="button">Search</button>

</div>

<hr />

<div id="transaction-data"></div>

<div style="margin-top:10px">

    <button id="prev">Prev</button>

    <input type="hidden" id="total-pages" value="@TotalPages" />
    <input id="page-number" type="hidden" value="@PageNumber" />

    <span id="page-info">Page @PageNumber of @TotalPages</span>

    <button id="next">Next</button>

</div>

<br />

<a id="download-pdf"
   href="/Reports/DownloadPdf?pageSize=3&pageNumber=1&Category=ALL">
    Download PDF
</a>

<script src="~/js/Dashboard/CustomerProfile.js"></script>

