@{
    foreach (var user in Model)
    {
        <div class="customers">
            <div class="customers_data" id="customer_@user.id">
                <p>Name: @user.full_name</p>
                <p>Email: @user.email</p>
                <p>Address: @user.address</p>
                <p>DOB: @user.date_of_birth</p>
                <p>KYC: @user.kyc_status</p>

                <button onclick="EdituserForm('@user.email')">Edit</button>
                <button onclick="ViewUser('@user.email')">View</button>
                <button onclick="DeletedUser()">Deleted</button>
                <button class="Transaction">Transaction</button>
            </div>

            <div class="Bank_transactions"></div>
        </div>
        
    }
}

<script src="~/js/Dashboard/Customers.js"></script>


