@{
    foreach (var user in Model)
    {
        <div>
            <p>Name: @user.full_name</p>
            <p>Email: @user.email</p>
            <p>Branch: @user.branch_assigned</p>
            <p>Role Title: @user.role_title</p>
            <p>Hire Date: @user.hire_date</p>
        </div>
    }
}