@{
    foreach (var user in Model)
    {
        <div>
            <p>Name: @user.full_name</p>
            <p>Email: @user.email</p>
            <p>Branch: @user.branch_assigned</p>
            <p>Hire Date: @user.hire_date</p>

            <button onclick="EdituserForm('@user.email')">Edit</button>
            <button onclick="DeletedUser()">Deleted</button>
            <input id="Upload-id-managers" type="hidden" value="@user.id" />
            <button id="Upload">Upload</button>
        </div>
    }
}

<script src="~/js/Dashboard/Managers.js"></script>
