@{
    @inject IHttpContextAccessor HttpContextAccessor
    var value = HttpContextAccessor.HttpContext.Session.GetString("NewApplications");
    var newApplications = System.Text.Json.JsonSerializer.Deserialize<List<NewApplications>>(value);
}

<h2 id="ApplicationsHeading">New Applications</h2>
<h2 id="ApplicationsHistoryHeading">Applications History</h2>

<div id="applications-list">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Loan Amount</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @if(newApplications == null || newApplications.Count == 0)
            {
                <tr>
                    <td colspan="5" style="text-align: center">No New Applications</td>
                </tr>
            }
            else
            {
                foreach (var item in newApplications)
                {
                    if (item.Status == "Pending")
                    {
                        <tr>
                            <td>@item.ApplicationId</td>
                            <td>@item.ApplicationData.ToShortDateString()</td>
                            <td>@item.User.full_name</td>
                            <td>@item.Offers.LoanAmount</td>

                            <td>
                                <button id="@item.ApplicationId" class="btn btn-info more-info">
                                    More Info
                                </button>

                                <button class="btn btn-success ApplicationButton">Accept</button>
                                <button class="btn btn-danger ApplicationButton">Reject</button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<div style="display: none" id="applications-history"></div>


<div id="details-area" style="display:none"></div>

<script src="~/js/Loan/NewApplications.js"></script>