@using Newtonsoft.Json;
@model SecureBank_Pro.Models.LoanData;
@{
    var Data = Context.Session.GetString("LoanData");
    LoanData loanData = JsonConvert.DeserializeObject<LoanData>(Data);
}
@inject IHttpContextAccessor HttpContextAccessor

@{
    var loanString = HttpContextAccessor.HttpContext.Session.GetString("CustomerLoans") ?? "";
    var parts = loanString.Split("[Loan]"); // assuming you separate them as "pendingIds|approvedIds"

    var approvedLoans = parts.Length > 0 ? parts[0] : "";
    var pendingLoans = parts.Length > 1 ? parts[1] : "";
}

<h2 id="all-Offers">All Offers</h2>
<h2 id="loan-History">Loan History</h2>
<div id="loan-offers">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Loan Amount</th>
                <th>Interest Rate</th>
                <th>Valid Till</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in loanData.Offers)
            {
                <tr id="@offer.OfferId">
                    <td>@offer.Title</td>
                    <td>@offer.Description</td>
                    <td>@offer.LoanAmount</td>
                    <td>@offer.InterestRate</td>
                    <td>@offer.ValidTill?.ToString("yyyy-MM-dd")</td>
                    <td>
                        @if (approvedLoans.Contains(offer.OfferId.ToString()))
                        {
                            <button disabled class="btn btn-danger">Approved</button>
                        }
                        else if (pendingLoans.Contains(offer.OfferId.ToString()))
                        {
                            <button disabled class="btn btn-warning">Applied</button>
                        }
                        else
                        {
                            <button class="btn btn-primary">Apply</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="loan-applications" style="display:none"> </div>


<script src="~/js/Loan/Offers.js"></script>

